.header {
    background-color: var(--header-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navbar {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    
}

.header__list>ul {
    display: flex;
    color: var(--header-text-color);
    gap: 50px;
}

.header__list>li>a {
    font-size: 14px;
    font-weight: 400;
    
}

.header__search-button>button {
    cursor: pointer; 
    
}