.header {
    background-color: var(--header-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navbar {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    
}

.header__list>ul {
    display: flex;
    color: var(--header-text-color);
    gap: 50px;
}

.header__list>li>a {
    font-size: 14px;
    font-weight: 400;
    
}

.header__search-button>button {
    cursor: pointer; 
    
}

.search-input {
    width: 0;
    opacity: 0;
    transition: all 0.3s ease; /* Плавное появление */
    border: none;
    padding: 0;
    outline: none;
    color: #ffffff;

}

.header__search-button:hover .search-input {
    width: 200px; /* Задаем ширину */
    opacity: 1;
    padding: 5px;
    border-radius: 2px;
    border: .1px solid #ccc;
    margin-left: 10px;
}